img{ width: 100%;
    height: auto;} 
    
    h1, h2 {    
        text-align: center;
        margin-top: -0.2%;
    }

    ul {   
        box-shadow: 0px 2px 6px;
        background-color: #bdecb6; 
        
    }
    
    body {
        margin-left: 3%;
        margin-right: 3%;
 
        font-family: Georgia;
    }
    ul{
        text-align: center;  
    }
 
 
    nav ul li{
        position: relative;
       
    }
    nav ul li a {
        display: block;  
    }
   
    nav ul li ul{
        display: none;
        position: absolute;
        background-color:rgb(143, 241, 195);
        
       
    }

    nav ul li:hover ul {
        display: block;
        z-index: 1;
    }
    nav ul li ul li {
        white-space: nowrap;}
    a {
        text-decoration: none;
        color: black;
    }
nav a:hover, .links a:hover {    
 text-decoration: underline;
 background-color: white;
 color: black;
    }

.icons a:hover {
 transform: scale(125%);}
.backgroundblue {
    background-color:rgb(105, 202, 226);
}
 .Spenden {
   background-image: url("Titelbild.jpg");
   background-size: cover;
   background-position: top;
   padding: 170px;}    
.textposition {
  text-align: left;
  margin-left: -15%;
  margin-top: -17%;}
   
    .Button {
    font-size: 2vw;
    font-weight: bold;
    padding: 2% 5%;
    cursor: pointer;
    border-radius: 1em;
    margin-left: 30px;
    border-color: green;
    }
    .newsbutton {
        font-size: 2.3vw;
        -webkit-text-stroke: 0.6px rgb(189, 189, 189);
        font-weight: bold;
        width: 39vw ;
        height: 20vw;;
        cursor: pointer;
        background-color: #e09c9c;
        color: white;
        border-color:  white;
    }

    
    .button:hover {
    background-color: rgb(63, 236, 63) }

    .containerdrei {
        display: flex;
        width: 30%;
        text-align: center; 
    }
    .container {
        display: flex;
       
        text-align: center; 
    }
    .zweiercontainer {
        display: flex;
        width: 45%;
        justify-content: space-between;
        align-items: center;  
        
    }
.backgroundcontainer {
    display: flex;
    justify-content: center;
    align-items: center;        
}
.bild1, .bild2 {
    padding: 5%; 
    background-color: rgb(223, 200, 185);  
}

.background {
    background-color: #FFDDDD;
    padding: 3%;
   
}
.backgroundgreen {
    background-color: #afe0c9;
    padding: 3%;
   
}

.bildundtext  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.bildundtexta  {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
@keyframes slideIn {
    0% {
        opacity: 0;
      transform: translateY(100px);
    }
    100% {
        
      transform: translateY(0);
    }
  }
  
  .bildundtexta {
    display: flex;
    justify-content: space-between;
  }
  
  .bildundtexta img {
    animation: slideIn 0.5s ease-in-out;
    animation-fill-mode: both;
    animation-delay: 0s;
  }
  
  .bildundtexta img:nth-child(2) {
    animation-delay: 0.3s; /* Verzögerung für das zweite Bild */
  }
  
  .bildundtexta img:nth-child(3) {
    animation-delay: 0.7s; /* Verzögerung für das dritte Bild */
  }
  .bildundtexta img:nth-child(4) {
    animation-delay: 1s; /* Verzögerung für das dritte Bild */
  }

  

.texto{
    flex: 0.7;
    margin: 0 1% 0 1%;

    
}
.bildlinks {
    width: 60%;
    margin-right: 0.8vw;

}
.bilddrei{
    
    height: 20vw;
    width: auto;
  
}
.bildrechts {
    width: 60%;
    margin-left: 0.8vw;

}


footer {
    background-color:rgb(78, 40, 40);
    display: flex;
    justify-content: space-between;
}
    .links a {
        color: white;
        font-size: 130%;
    }
    .links {
        margin: 3% 0 0 2%;
    }

   footer a {
    width: 40%;
   }

.icons {
    display:flex;
    justify-content: space-between;
    padding: 4vw;
    text-align: center;
   
} 
.icons img {
    width: 25vw;
}

.unsereprojekte {
    background-color: rgb(105, 202, 226);
}

.icons a {
    color: white;
    font-size: 2.5vw;
}


#slider {
    position: relative;
    overflow: hidden;
  }
  
  #slider figure {
    position: relative;
    width: 700%;
    margin: 0;
    left: 0;
    animation: slider 50s infinite;
  }
  
  
  
  #slider figure img {
    width: 14.2857%;
    float: left;
  }
figure img {
     
    height: 43vw; 
    object-fit: cover;
  }
  #slider-nav {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  #prev-slide,
  #next-slide {
    width: 2.5vw;
    height: 2.5vw;
    background-color: gray;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  #prev-slide:hover,
  #next-slide:hover {
    background-color: darkgray;
  }

.rechteck {
    width: 24vw;
    height: 20vw;
    background-color:rgb(147, 241, 147);
   margin: 3%;
}  



.titelcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center; 


}
.titelcontainer h3 {
    
    float: left;
    font-size: 130%;
}
.titelcontainer nav {
    width: fit-content;
}
nav li{
    font-size: 1.7em;
    margin: 0 1.5vw 0 0; 
    display: inline-block;
  
}
nav li img {
    height: 1em;
    width: auto;}

body{
    font-size: 2vw;}

 


.bildlinks {
    width: 70%;
    margin-right: 5%;
}
  
.icons img {
    width: 20vw;
}      

.Spenden {
    padding: 250px;
    
}    

.PositionSpende {
margin-left: -180px;

}



@media only screen and (min-width: 1000px) {
    body { 
        margin-left: 10%;
        margin-right: 10%;      
    }
    nav li img {
        height: 3.4vh;
        width: auto;
    }
    nav li{
        font-size: 4vh;
        margin: 0 2.5vw 0 0; 
    
    
        
    }
    footer img {
        width: 80%;
        float: right;
    }
    .titelcontainer h3 {
        font-size: 100%;
    }
    .titelcontainer nav {
        width: max-content;

}
.bild-sonderfall {
    width: 50%;
    margin-right: 5%;
   
}
.textbild {
    display: flex;
   justify-content: space-between; 
   align-items: center;
          }}