img{ width: 100%;
    height: auto;} 
    
    h1, h2 {    
        text-align: center;
        font-size: 3vw;
    }

    ul {   
        box-shadow: 0px 2px 6px;
        background-color: #bdecb6; 
    }
    
    body {
        margin-left: 25px;
        margin-right: 25px;
        font-size: 28px;
        font-family: Georgia;
        
    }
    

    .navlist {
        text-align: center;
        
    }
    .navlist li {
        
        display: inline-block;
        font-size: 3vw;
    }
   
    a {
        text-decoration: none;
        color: black;
    }
    .navlist a:hover {    
    text-decoration: underline;
    background-color: white;
    }
   
  
    .Kunst:hover, .Solar:hover, .Partner:hover {
        transform: scale(140%);
       }

    
    .Spenden {
        background-image: url("Titelbild.jpg");
        background-size: cover;
        background-position: top;
        padding: 170px;
      
    }    
    .textposition {
    text-align: left;
    margin-left: -15%;
    margin-top: -17%;
    
    }
   
    .Button {
    font-size: 30px;
    font-weight: bold;
    padding: 2% 7%;
    cursor: pointer;
    border-radius: 1em;
    margin-left: 30px;
    border-color: green;
   
    
    }
    
    .button:hover {
    background-color: rgb(63, 236, 63) }




    .containerdrei {
        display: flex;
        width: 30%;
        text-align: center;
        
        
    }

    .zweiercontainer {
        display: flex;
        width: 45%;
        
    }
    .bild1, .bild2 {
        padding: 5%; 
        background-color: rgb(223, 200, 185);
    }

.background {
    background-color: #FFDDDD;
    padding: 3%;
   
}

.bildundtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bildlinks {
    width: 70%;
    margin-right: 5%;

}
.bildrechts {
    width: 70%;
    margin-left: 5%;

}


.footer {
    background-color:rgb(78, 40, 40);
    display: flex;
    justify-content: space-between;
}
    .links a {
        color: white;
        font-size: 130%;
    }
    .links {
        margin: 3% 0 0 2%;
    }

   footer a {
    width: 40%;
   }
    

    
 
    @media only screen and (min-width: 1000px) {
/*die nächsten zwei gehören zum Sonderfall*/
    .bild-sonderfall {
            width: 70%;
            margin-right: 5%;
        }
    .textbild {
     display: flex;
    justify-content: space-between; 
           }

.bildlinks {
    width: 70%;
    margin-right: 5%;
}
  
                
               
    
      
}    
   
     
    @media only screen and (min-width: 1100px) {
      
        body { 
            margin-left: 10%;
            margin-right: 10%;
            
        }
    .IconsD {
        display:flex;
        margin-left: 70px;
        margin-right: 70px; }
    
    .Kunst {
            float: left;
            width: 80%;
            
           }
    .Solar {
            float: center;
            width: 80%;
            
           }
    .Partner {
           float: right;
           width: 80%;
           }
           
        
        .Spenden {
            padding: 250px;
            
        }    
       
       
       .PositionSpende {
        margin-left: -180px;
    
       }
       
   
        /* passt so */
        .navlist li {
            font-size: 2vw; }
        .navlist li a{
                margin: 0 2vw;
            }  
        }