img{ width: 100%;
    height: auto;} 
    
h1, h2, h3 {    
    text-align: center;
    
}
h1, h2 {
    margin-top: -1vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin: 0 -3%;
}

header h3 {
  align-items: center;
  float: left;
  font-size: 2.5vw;
}

body{
    margin: 0 3%;
    font-size: 2.1vw;
    font-family: Arial;
    scroll-behavior: smooth; /* für Animation*/}
    
ul {   
    box-shadow: 0px 2px 6px;
    background-color: #8bd38b ;  
}
nav ul li{
    position: relative;   
}

nav ul li a {
    display: block;  
}
nav ul li ul{
    display: none;
    position: absolute;
    background-color:#8bd38b;   
}
nav ul li:hover ul {
    display: block;
    z-index: 1;
}
nav ul li ul li {
    white-space: nowrap;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: black;
    }
nav a:hover, footer div a:hover {    
 text-decoration: underline;
 background-color: white;
 color: black;
    }
.icons a {
    color: white;
    font-size: 3vw;
}
form input{
    height: 3vw;
    width: 100%;
  }
  form textarea{
    height: 5vw;
    width: 100%;
  }
  label {
    font-size: 70%;
    float: left;
  }
.kontakt-button {
    font-size: 2vw;
    font-weight: bold;
    padding: 1vw 2vw;
   
    
}   
.kontakt-button:hover{
    background-color:#afe4a7;
}
    /*rgb(105, 202, 226)*/
.icons a:hover {
 transform: scale(115%);}


 .Spenden {
   background-image: url("Titelbild.jpg");
   background-size: cover;
   background-position: top;
   padding: 4vw;
    padding-left: 6vw;}    

 button {
    font-size: 1.8vw;
    font-weight: bold;
    padding: 2% 5%;
    border-radius: 1em;
    border-color: green;
    cursor: pointer;
    }
    .newsbutton {
        font-size: 2.3vw;
        width:39vw;
        height: 20vw;
        color: white;
        border-color:  white;
        opacity: 0.85;
    }
.button-eckig {
    border-radius: 0;
}
.newsbutton:hover {
    opacity: 1;
}
    
    button:hover {
    background-color:#afe4a7 }
textarea, input {
    font-size: 0.5em;
}
.containerdrei {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vw;
    
    
}

.container{
        display: flex;
        justify-content: space-evenly;
        align-items: center;  
    }
    .container-allgemein{
      display: flex;
      
      align-items: center;  
  }
 
    .container-zweielemente{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5vw;
        align-items: center;
    }
    
    .container-zweielemente-hintergrund{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5vw;
        background-color: rgb(223, 200, 185);  
        padding: 3%;
        text-align: center;
    }
    .containerteil {
        display: block;
        line-height: 4vw;
        padding-left: 5vw;
        font-size: 3vw;
      }
      
      .containerteil a:not(:first-child) {
        text-decoration: underline;
      }
      .container p {
        padding: 2vw;
      }



.background {
    background-color: #FFDDDD;
    padding: 3%;
   
}
.backgroundgreen {
    background-color: #afe4a7;
    padding: 3%;
   
}



@keyframes slideIn {
    0% {
        opacity: 0;
      transform: translateY(100px);
    }
    100% {
        
      transform: translateY(0);
    }
  }
  
  .bildundtexta {
  display: flex;
  justify-content: space-between;
  }
  
  .bildundtexta img {
  animation: slideIn 0.5s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0s;
  }
  
  .bildundtexta img:nth-child(2) {
  animation-delay: 0.3s; 
  }
  
.bildundtexta img:nth-child(3) {
  animation-delay: 0.7s; 
  }
  .bildundtexta img:nth-child(4) {
  animation-delay: 1s; 
  }

  

.texto{
  flex: 0.7;
  margin: 0 1% 0 1%;

    
}
.bildlinks {
  width: 60%;
  margin-right: 0.8vw;

}
.bildlinks {
  width: 70%;
  margin-right: 5%;
}
.bilddrei{
  height: 20vw;
  width: auto;
  
}
.bildrechts {
  width: 60%;
  margin-left: 0.8vw;

}
footer div {
   display: inline-block;
   margin: 3% 0 0 2%;
}
footer a {
    color: black;
}
footer img {
    height: 12vw;
    width: auto;
   }
footer {
    background-color:#517c51;;
    display: flex;
    justify-content: space-between;
    margin: 0 -3%;
}

  .einführungsbild {
    height: 40vw; 
    object-fit: cover;
}
.icons {
    display:flex;
    justify-content: space-between;
    padding: 3vw;
    text-align: center;
   
} 
.icons img {
    width: 20vw;
}



#slider {
    position: relative;
    overflow: hidden;
  }
  
  #slider figure {
    position: relative;
    width: 700%;
    margin: 0;
    left: 0;
    animation: slider 4s infinite;
  }
  
  
  
  #slider figure img {
    width: 14.2857%;
    float: left;
  }
figure img {
     
    height: 45vw; 
    object-fit: cover;
  }
  #slider-nav {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  
  #prev-slide,
  #next-slide {
    width: 2.5vw;
    height: 2.5vw;
    background-color: gray;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  #prev-slide:hover,
  #next-slide:hover {
    background-color: darkgray;
  }

.rechteck {
    width: 40vw;
    height: 50vw;
    box-shadow: 0px 2px 6px rgb(48, 47, 47);
    border-radius: 1em;
    text-align: center;
    font-size: 3vw;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    color: #666;
    margin-bottom: 5vw;
    
  }
    
.rechteck h4{
    font-size: 3vw;
    margin-top: 1vw;
    color: black;
    margin-bottom: 0.5vw;
}

.rechteck img {
    border-radius: 10px 10px 0 0;
    padding-top: 1.5vw;
    align-items: center;
    height: 20vw; 
    width:  38vw;
    object-fit: cover;
}


nav li{
    font-size: 1.3em;
    margin: 0 1.3vw 0 0; 
    display: inline-block;
  
}
nav li img {
    height: 1em;
    width: auto;
    align-items: center;}



.siebzigprozentgröße {
    width: 70%;}
    

/*Animation Text */
.animated-text {
    animation: appear 2s linear forwards;
  }
  @keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 30%;
    border: 1px solid #ccc;
    z-index: 10;
    padding: 2vw;
    text-align: center;
    font-size: 4vw;
    background-color: white;
    cursor: pointer;
    
  }
  .popup button{
    font-size: 3vw;
  }
  .popup-content {
    display: flex;
    flex-direction: column;
  }
  .close {
    color: #aaa;
    position: absolute;
    top: 1vw;
    right: 1vw;
    font-size: 6vw;
    font-weight: bold;
    
  }
 
  .close:hover {
    color: #000;
  }

  .popup.show {
    display: block;
  }
@media only screen and (min-width: 1050px) {

    nav li img {
        height: 3.4vh;}
        
    nav li , footer a{
        font-size: 4vh;
        
    }
   
    .rechteck {
        width: 20vw;
        height: 27vw;
        box-shadow: 0px 2px 6px rgb(48, 47, 47);
        border-radius: 1em;
        text-align: center;
        font-size: 1.5vw;
        padding-left: 2%;
        padding-right: 2%;
        color: #666;
        transition: transform 0.3s ease;
        margin-bottom: 0vw;
       
    }  
    .rechteck h4{
        font-size: 2vw;
        margin-top: 1vw;
        color: black;
        margin-bottom: 0.5vw;
        
    }
    
    .rechteck img {
        border-radius: 10px 10px 0 0;
        padding-top: 1.5vw;
        align-items: center;
        height: 10vw; 
        width: 18vw;
        object-fit: cover;

    }
    .rechteck:hover {
        transform: translateY(-1vw);
    }

.bild-sonderfall {
    width: 50%;
    margin-right: 5%;
   
}
.containerabpx{
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    font-size: 90%;
}
.containerteil {
  font-size: 2vw;
}

          nav ul li ul li {
            font-size: 4vh}  

.popup{
     width: 40vw;
    height: 25vw;
    font-size: 2vw;
}
.popup button{
    font-size: 2vw;
  }
  .close {
    font-size: 2vw;
  }
           }

@media only screen and (min-width: 1310px) {
    body { 
    margin: 0 10%; 
                
            }
  header{
    margin: 0 -10%;
  }
  footer {
    margin: 0 -10%;
  }}