img{ width: 100%;
    height: auto;}
    
    h1 {    
        text-align: center;
        font-size: 5vw;
    }
    
    ul {   
        margin: 0px;
        padding: 0;
        box-shadow: 0px 2px 4px;
        background-color: #bdecb6; 
    }
    
    body {
        margin-left: 15px;
        margin-right: 15px;
        font-size: 32px;
        font-family: Georgia;
    }
    
    .kontakt {
        float: left;
        margin-left: -16%;
        margin-top: 3%;

        
    }     
   
    .untenKunst {
        height: 200px;
        background-color: rgb(78, 40, 40);
       
        
    }
    .Impressum {
        float: left;
        
       margin-left: 5%;
       margin-top: 8%;
    }

    .navlist li {
        display: inline-block;
        font-size: 35px;
      
       
        
        
    }
    .navlist li a{
        margin: 0 1px;
    }   
    a {
        text-decoration: none;
        color: black;
    }
    a:hover {    
    text-decoration: underline;
    }
    
                
    .Kunst {
        float: center;
        width: 60%;
     
       }
    .Solar {
        float: center;
        width: 60%;
       }
    .Partner {
       float: center;
       width: 60%;
       }
    
    .Kunst:hover, .Solar:hover, .Partner:hover {
    -ms-transform: scale(1.5); /* IE  */
      -webkit-transform: scle(1.5); /* Safari */
      transform: scale(1.05);
       }
       .Rathenau{
        float: right;
        width: 200px;
        height: auto;
        margin-right: 10px;
    }    
    
    .footer{
        background-color: rgb(78, 40, 40);
        height: 200px;
    }
    
    .Spenden {
        background-image: url("Titelbild.jpg") ;
        background-size: cover;
        background-position: top;
        padding: 170px;
        font-size: 30px;
    }    
    .textposition {
    text-align: left;
    margin-left: -140px;
    margin-top: -130px;
    
    }
    .Button {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5em 3em;
    cursor: pointer;
   
    border-radius: 1em;
    margin-left: 30px;
    border-color: green;
    
    }
    .button:hover {
    background-color: rgb(63, 236, 63) }
    .PositionSpende {
    margin-left: -140px;}
    
    .naBiG-Text {
        width: 50%;
        margin-right: 20px;
        padding-bottom: 120px;
    }
    .naBiG{
        display: flex;
        justify-content: space-between;
       
    }
    
    .naBiG2{
        display: flex;
        justify-content: space-between;
     
        
       
    
    }
    .naBiG-Bild {
        width: 40%;
        float: left;
        padding: 50px;
        margin-left: -50px;
    
        
    }
    
    .naBiG-Bild2 {
        padding: 50px;
        background-color: white;
        margin-left: -50px;
        margin-top: -100px;
  
     
    }
    
    .qrcode {
        display: flex;
        width: 30%;
        text-align: center;
        
    }
    .qrcode1 , .qrcode2 , .qrcode3 {
        padding: 5%;
    }

    .zweiercontainer1 {
        display: flex;
        width: 45%;
        
    }
    .ausstellung {
        display: flex;
        width: 45%;
        
       
        
    }
    .vortrag1 , .vortrag2 {
        padding: 5%;
        
    }

    


    .pseminar{
        width: 76%;
        margin-left: 12%;
        

        
    }
    .seminar {
        
        background-color: #FFDDDD;
        padding: 4%;
    }
    
    
    
    
    @media only screen and (min-width: 950px) {
        body {
            margin-left: 30px;
            margin-right: 30px;
            font-size: 30px;
        }
    .IconsD {
                display:flex;
                
                 }
                
                
        .Kunst {
                    float: left;
                    width: 90%;
                    
                   }
        .Solar {
                    float: center;
                    width: 90%;
                    
                   }
            .Partner {
                   float: right;
                   width: 90%;
                   }
                
               
        .Kunst:hover, .Solar:hover, .Partner:hover {
         -ms-transform: scale(1.5); /* IE  */
         -webkit-transform: scle(1.5); /* Safari */
         transform: scale(1.2);
               }
               .navlist li {
                display: inline-block;
                font-size: 35px;
            }
    .navlist li a{
                color: afff;
                margin: 0 10px;

            }
            
            .Rathenau{
                float: right;
                width: 400px;
                height: auto;
                margin-right: 50px;
            }    
            .Impressum {
                
                font-size: 30px;
            }
            
           
            .WinnerBilder {
                width: 70%;
                margin: auto;
            }
    
        
        .naBiG{
            display: flex;
            justify-content: space-between;
            
            
        }
        
        .naBiG2{
            display: flex;
            justify-content: space-between;
            padding-top: 10%;
        
        }
        .naBiG-Bild {
            width: 50%;
            float: left;
            padding: 50px;
        }
        
        .naBiG-Bild2 {
            width: 100%;
            padding: 30px;
        }
        
        .naBiG-Text {
            padding-top: 130px;
        
        }
    
        .naBiG-Text2 {
            float: left;
            margin-left: -145%;
           font-size: 25px;
           padding-top: 50px;
        }
        
        .pseminar{
            float: right; 
            width: 35%;
            height: 35%;
            
            margin-top: 40%;

            
        }
        .seminar {
            display: flex;
            background-color: #FFDDDD;
           
        }
        .psemtext {
            float: left;
            width: 60%;  
        }
        
    
    }
            
    @media only screen and (min-width: 1100px) {
        body { 
            margin-left: 100px;
            margin-right: 100px;
            
        }
    .IconsD {
        display:flex;
        margin-left: 70px;
        margin-right: 70px; }
    
    .Kunst {
            float: left;
            width: 80%;
            
           }
    .Solar {
            float: center;
            width: 80%;
            
           }
    .Partner {
           float: right;
           width: 80%;
           }
           
        
    .Kunst:hover, .Solar:hover, .Partner:hover {
            -ms-transform: scale(1.5); /* IE  */
          -webkit-transform: scle(1.5); /* Safari */
          transform: scale(1.25);
           }
           
    .navlist li {
            display: inline-block;
            
            font-size: 30px;
        }
     .navlist li a{
            
        margin: 0 30px;
        
        }
    .Logo {
            width: 70%;
        }
    
     .Rathenau{
            float: right;
            width: 40%;;
            height: auto;
            margin-right: 100px;
        }    
        .Impressum {
            margin-left: -10%;
            margin-top: 4%;
            font-size: 50px;
        }
    
        .Spenden {
            padding: 250px;
            
        }    
       .textposition {
        margin-left: -180px;
        margin-top: -170px;
       }
       .Button {
        padding: 1em 2em;
       
       }
       .PositionSpende {
        margin-left: -180px;
    
       }
    
       
    
    h1{
        font-size: 50px;
    }
      
        .naBiG{
            display: flex;
            justify-content: space-between;
            
        }
        
       
        
        .naBiG-Bild {
            width: 50%;
            float: left;
            margin-left: -50px;
        }
        
        .naBiG-Bild2 {
            width: 102%;
            padding: 50px;
            margin-left: -80px;
            margin-top: -100px;
        }
    
        .naBiG-Text {
            font-size: 30px;
            padding-top: 200px;
        
        }
        .footer{
            background-color: rgb(78, 40, 40);
            height: 300px;
            font-size: 50px;
        }
        .untenKunst {
            height: 450px;
            background-color: rgb(78, 40, 40);
           
            font-size: 50px;
        }
       
        .Impressum {
            margin-top: 4%;
            margin-left: 30px;
        }
        .kontakt {
            margin-left: -10.8%;
            margin-top: 1%;
        }
        .indexk {
            margin-left: -14.6%;
        }
        .solarium {
            margin-top: 10%;
        }

        .pseminar{
            margin-top: 8%;
            width: 45%;
            float: right; 

            
        }
        .seminar {
            display: flex;
            background-color: #FFDDDD;
            padding: -5%;
           
        }
        
        .psemtext {
            width: 60%;
        }
    }
        
    
    
    
   
  
        
        
    
    

